{% extends base_template %}

{% form_theme form _self %}
{% block form_label_class -%}col-sm-3{%- endblock form_label_class %}
{% block form_group_class -%}col-sm-9{%- endblock form_group_class %}

{% block body %}
    <div class="container">
    <h1>Create new account</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.plainPassword) }}

        {{ form_row(form.org) }}
        <div class="form-group js-add-org-message">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <i>If your organization is not in the list, select Other to add it.</i>
            </div>
        </div>
        <div class="signup_new_org" style="display: none">
            {{ form_row(form.newOrg) }}
        </div>
        <ul class="list-inline pull-right">
            <li>
                <input class="btn btn-primary" type="submit" value="Submit" />
            </li>
        </ul>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var $org = $('#signup_org');
        var $newOrg = $('#signup_newOrg');
        var $username = $('#signup_username');
        var orgs = [];

        var errorContent = '<span class="help-block">' +
        '<ul class="list-unstyled"><li><span class="glyphicon glyphicon-exclamation-sign"></span> Choose this organization from the Organization list' +
        '</li></ul></span>';

        function removeError() {
            $('.signup_new_org').removeClass('has-error');
            $newOrg.next('span').remove();
            $('input[type="submit"]').removeClass('disabled');
        }

        $('#signup_org option').each(function() {
            if (this.value) {
                orgs.push(this.text);
            }
        });

        function showHideOtherOrg() {
            if ($org.val() === 'other') {
                $('.signup_new_org').show();
                $('.js-add-org-message').hide('fast');
                $('#signup_newOrg').attr('required', true);
            } else {
                $('.signup_new_org').hide();
                $('.js-add-org-message').show('fast');
                $('#signup_newOrg').attr('required', false);
            }
        }

        if ($newOrg.val() !== '') {
            $org.val('other');
            showHideOtherOrg();
        }

        $org.change(function() {
            removeError();
            $newOrg.val('');

            showHideOtherOrg();
        });

        $newOrg.on('blur', function() {
            removeError();
            if (orgs.includes($newOrg.val())) {
                $('.signup_new_org').addClass('has-error');
                $newOrg.parent().append(errorContent);
                $('input[type="submit"]').addClass('disabled');
            }
        });

        $('[data-toggle="popover"]').popover({
            trigger: 'hover',
            placement: function() { return $(window).width() < 1100 ? 'bottom' : 'left'; },
            html: true,
        });
    </script>

{% endblock %}

