{% extends 'layout.html.twig' %}

{% block title %}
    {{ obj.abbreviatedStatement|default('Credential') }}
{% endblock %}

{% block styles %}
    <style>
        .tree {
            --spacing: 1.5rem;
            --radius: 10px;
            margin-top: 20px;
        }
        .tree summary {
            display: list-item;
            cursor: pointer;
        }
        .tree summary.children-0 {
            list-style-type: none;
            padding-left: calc(var(--spacing));
        }
        .tree li {
            display: block;
            position: relative;
            padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
            padding-top: 5px;
        }
        .tree ul {
            margin-left: calc(var(--radius) - var(--spacing));
            padding-left: 0;
        }

        .tree span.title {
            display: inline-block;
            vertical-align: top;
            width: calc(100% - 30px);
        }
    </style>
{% endblock %}

{% block body %}
    <div class="credential-page container">
        <div class="row">
            <div class="col-sm-4">
                <div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 center-block">
                        {% if img is not empty %}
                            <img src="{{ img }}" class="img-responsive"  alt="Credential Image"/>
                        {% else %}
                            <img src="/assets/img/certificate.svg" class="img-responsive"  alt="Credential Image"/>
                        {% endif %}
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <h1 class="text-center">
                    {{ obj.humanCodingScheme }}
                </h1>
            </div>
            <div class="col-sm-8">
                {% if obj.abbreviatedStatement is not empty %}
                    <div class="row">
                        <div class="col-sm-12 text-center" style="outline: 1px solid;">
                            <h1>{{ obj.abbreviatedStatement }}</h1>
                        </div>
                    </div>
                {% endif %}
                <p>{{ obj.fullStatement | markdown_to_html }}</p>
                <p>
                    <strong>Last Updated:</strong> {{ obj.updatedAt.format('F d, Y') }}
                </p>
                <p>
                    <strong>Achievement Type:</strong> {{ obj.itemType.title|replace({'Credential - ': ''}) }}
                </p>
            </div>
        </div>
        {% if criteria is not empty %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3 class="text-uppercase">Earning Criteria</h3>
                            <p>
                                Recipients must complete the earning criteria to earn this badge.
                            </p>
                            <a href="{{ path('pathway_view', {'id': obj.identifier}) }}" class="btn btn-default">View as pathway checklist</a>
                        </div>
                        <div class="col-sm-8">
                            <ul class="tree">
                            {% for criterion in criteria %}
                                {{ include('uri/_criterion.html.twig', {criterion: criterion, assocationRepo: associationRepo, itemRepo: itemRepo}) }}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if alignments is not empty %}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <h3>Alignments</h3>
                        <p>
                            The credential aligns to these frameworks and competencies.
                        </p>
                    </div>
                    <div class="col-sm-8">
                        <ul>
                        {% for alignment in alignments %}
                            <li>
                                {%  if alignment.humanCodingScheme is not empty %}<strong class="cred-hcs">{{ alignment.humanCodingScheme }}</strong> {% endif %}
                                {{ alignment.abbreviatedStatement|default(alignment.fullStatement) }}
                                {#
                                <a class="" href="{{ path('uri_lookup', {'uri': alignment.identifier}) }}">
                                    <i class="fa fa-external-link"></i>
                                </a>
                                #}
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
