{% extends base_template %}

{% block body %}
    <h1>Organization edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <ul class="list-inline pull-right">
            <li>
                <input class="btn btn-default" type="submit" value="Save" />
            </li>
        </ul>
    {{ form_end(edit_form) }}

    <ul class="list-inline pull-right">
        <li>
            <a class="btn btn-primary" href="{{ path('admin_organization_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
