<div>
    <p>Export Competency Framework “<b>{{ lsDoc.title }}</b>” as:</p>
    <div class="container-fluid" style="margin:15px 0"><div class="row">
        <div class="col-xs-3"><a href="{{ lsDoc.uri |local_uri }}.json" role="button" tabindex="1" class="btn btn-primary btn-block btn-export btn-export-case" style="white-space:normal; height:3.8em"  data-toggle="popover" data-trigger="hover" data-placement="bottom" data-html="true" data-content="Exports a JSON file using the IMS-standard format. This is the best format to use for archiving Frameworks.">Competency Framework Package (JSON)</a></div>
        <div class="col-xs-3 hidden"><a href="javascript:alert('PDF export functionality coming soon...')" role="button" tabindex="2" class="btn btn-primary btn-block btn-export btn-export-pdf disabled" style="white-space:normal; height:3.8em"data-toggle="popover" data-trigger="hover" data-placement="bottom" data-html="true" data-content="Exports a styled PDF that can be printed, easily shared with others, and compared with other versions of the Framework.">Styled PDF</a></div><!-- {{ path('cfpackage_export2', {'id':lsDoc.id, '_format':'pdf'}) }} -->
        <div class="col-xs-3"><a href="{{ path('export_case_file', {'id': lsDoc.id })}}" role="button" tabindex="3" class="btn btn-primary btn-block btn-export btn-export-excel" style="white-space:normal; height:3.8em"data-toggle="popover" data-trigger="hover" data-placement="bottom" data-html="true" data-content="Exports an Excel spreadsheet file that you can open and edit in spreadsheet programs such as Microsoft Excel.">Spreadsheet export</a></div><!-- {{ path('cfpackage_export2', {'id':lsDoc.id, '_format':'csv'}) }} -->
        <div class="col-xs-3 hidden"><a href="javascript:alert('HTML export functionality coming soon...')" role="button" tabindex="4" class="btn btn-primary btn-block btn-export btn-export-html disabled" style="white-space:normal; height:3.8em"data-toggle="popover" data-trigger="hover" data-placement="bottom" data-html="true" data-content="Exports a zipped archive of the HTML and associated files (css, js, etc.) for viewing the Framework in a web browser. Use this if you want to include a view of the Framework in another website.">HTML Archive</a></div><!-- {{ path('cfpackage_export2', {'id':lsDoc.id, '_format':'html'}) }} -->
    </div></div>
    <hr>
    <p>You can also share the following link, which anyone can use to view the Competency Framework in their web browser (no login required):</p>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-6 control-label"><a href="{{ path('doc_tree_view', {'slug':lsDoc.slug}) }}" target="blank">{{ url('doc_tree_view', {'slug':lsDoc.slug}) }}</a></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" value="{{ url('doc_tree_view', {'slug':lsDoc.slug}) }}">
            </div>
        </div>
    </div>
</div>
