<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="no-js no-auth lt-ie9 lt-ie8 lt-ie7 ie6"><![endif]-->
<!--[if IE 7 ]><html class="no-js no-auth lt-ie9 lt-ie8 ie7"><![endif]-->
<!--[if IE 8 ]><html class="no-js no-auth lt-ie9 ie8"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js no-auth"><!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        {% block xuacompatible %}
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        {% endblock %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        {% block viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
        <title>{% block title %}SALT{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/main.css'|asset_version) }}" />
        {% endblock %}
        {# <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> #}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}" sizes="16x16">
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <div class="container">
            <header class="header">
                {%- block header -%}
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="{{ url('cftf_index') }}"><img src="{{ asset('assets/img/opensalt.png') }}"></a>
                            {% if brand_logo_url is not empty %}<a class="navbar-brand" href="{{ brand_link_url |default(url('cftf_index')) }}"><img src="{{ brand_logo_url |default('') }}"></a>{% endif %}
                            {% if (is_granted('ROLE_USER')) %}
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" area-expanded="false">Signed in as <strong>{{ app.user.username }}</strong> <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            {% if is_granted('ROLE_SUPER_USER') or is_granted('manage', 'users') %}
                                                {% if is_granted('ROLE_SUPER_USER') %}
                                                    <li><a href="{{ url("admin_organization_index") }}">Manage organizations</a></li>
                                                {% endif %}
                                                {% if is_granted('manage', 'users') %}
                                                    <li><a href="{{ url("admin_user_index") }}">Manage users</a></li>
                                                {% endif %}
                                                <li role="separator" class="divider"></li>
                                            {% endif %}
                                            <li><a href="{{ url("user_change_password") }}">Change Password</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="{{ url("logout") }}" class="logout">Sign out</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            {% elseif (app.request.attributes.get('_route') != 'login') %}
                                <a href="{{ url("login") }}" class="btn btn-default navbar-btn pull-right login">Sign in</a>
                            {% endif %}
                        </div>
                    </nav>
                {%- endblock -%}
            </header>
            <main class="content clearfix" role="main">
                {% if app.request.hasPreviousSession %}
                    <div class="flash-messages">
                        {% for flash_message in app.session.flashBag.get('error') %}
                            <div class="flash-error alert alert-danger alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ flash_message|raw }}
                            </div>
                        {% endfor %}
                        {% for flash_message in app.session.flashBag.get('warning') %}
                            <div class="flash-warning alert alert-warning alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ flash_message|raw }}
                            </div>
                        {% endfor %}
                        {% for flash_message in app.session.flashBag.get('success') %}
                            <div class="flash-notice alert alert-success alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ flash_message|raw }}
                            </div>
                        {% endfor %}
                        {% for flash_message in app.session.flashBag.get('info') %}
                            <div class="flash-notice alert alert-info alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ flash_message|raw }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% block body %}{% endblock %}
            </main>
            <footer class="footer">
                {%- block footer -%}
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{{ url('site_about') }}">About OpenSALT</a></li>
                            </ul>
                        </div>
                    </nav>
                {%- endblock -%}
            </footer>
        </div>
        <div style="display: none;">
            {% block sitejavascripts %}
                <script src="{{ asset('js/site.js'|asset_version) }}"></script>
            {% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
