{%- set authClass = is_granted('ROLE_USER') ? 'auth' : 'no-auth' -%}
<!DOCTYPE html>
<html lang="{{ app.request.locale}}" xml:lang="{{ app.request.locale }}" xmlns= "http://www.w3.org/1999/xhtml" class="no-js {{ authClass }}">
    <head>
        <meta charset="utf-8" />
        {% block xuacompatible %}
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        {% endblock %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-Language" content="{{ app.request.locale }}">
        {% block viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
        <title>{% block title %}OpenSALT{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/main.css', 'encore') }}" />
        {% endblock %}
        {# <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> #}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" href="{{ asset('favicon32.png') }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ asset('favicon16.png') }}" sizes="16x16">
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#22454f">
        <meta name="apple-mobile-web-app-title" content="OpenSALT">
        <meta name="application-name" content="OpenSALT">
        <meta name="theme-color" content="#ffffff">
        {#- <script src="{{ asset('js/modernizr.js') }}"></script> -#}
        <script>var x=document.getElementsByTagName("html")[0];x.className=x.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2");</script>
    </head>
    <body class="{% block bodyclasses %}{% endblock %}">
        <div class="container container--main">
            <header class="header">
                {%- block header -%}
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="{{ url('cftf_index') }}"><img src="{{ asset('assets/img/opensalt.svg') }}"></a>
                            {% if brand_logo_url is not empty %}<a class="navbar-brand" href="{{ brand_link_url |default(url('cftf_index')) |e('html_attr') }}" {% if brand_link_style is not empty %}style="{{ brand_link_style |e('html_attr') }}"{% endif %}><img src="{{ brand_logo_url |default('') |e('html_attr') }}" {% if brand_logo_style is not empty %}style="{{ brand_logo_style |e('html_attr') }}"{% endif %}></a>{% endif %}
                            {%- block navbar_right -%}
                            {% if (is_granted('ROLE_USER')) %}
                                <ul class="nav navbar-nav navbar-right">
                                    <li id="notifications-switch-location" class="notifications-switch-wrapper"></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" area-expanded="false">Signed in as <strong>{{ app.user.username }}</strong> <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            {% if is_granted('ROLE_SUPER_USER') or is_granted('manage', 'users') %}
                                                {% if is_granted('ROLE_SUPER_USER') %}
                                                    <li><a href="{{ url("admin_organization_index") }}">Manage organizations</a></li>
                                                {% endif %}
                                                {% if is_granted('manage', 'users') %}
                                                    <li><a href="{{ url("admin_user_index") }}">Manage users</a></li>
                                                {% endif %}
                                                {% if is_granted('ROLE_SUPER_USER') %}
                                                    <li><a href="{{ url("system_logs_show") }}">Manage system logs</a></li>
                                                {% endif %}
                                                <li role="separator" class="divider"></li>
                                            {% endif %}
                                            <li><a href="{{ url("user_change_password") }}">Change Password</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="{{ url("logout") }}" class="logout">Sign out</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            {% elseif (app.request.attributes.get('_route') != 'login') %}
                                <a href="{{ url("login") }}" class="btn btn-default navbar-btn pull-right login">Sign in</a>
                            {% endif %}
                            {%- endblock -%}
                        </div>
                    </nav>
                {%- endblock -%}
            </header>
            <main class="content clearfix" role="main">
                {% if app.request.hasPreviousSession %}
                    <div class="flash-messages">
                        {% for flash_message in app.session.flashBag.get('error') %}
                            <div class="flash-error alert alert-danger alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ flash_message|raw }}
                            </div>
                        {% endfor %}
                        {% for flash_message in app.session.flashBag.get('warning') %}
                            <div class="flash-warning alert alert-warning alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ flash_message|raw }}
                            </div>
                        {% endfor %}
                        {% for flash_message in app.session.flashBag.get('success') %}
                            <div class="flash-notice alert alert-success alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ flash_message|raw }}
                            </div>
                        {% endfor %}
                        {% for flash_message in app.session.flashBag.get('info') %}
                            <div class="flash-notice alert alert-info alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ flash_message|raw }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% block body %}{% endblock %}
            </main>
            <footer class="footer">
                {%- block footer -%}
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{{ url('site_about') }}">About OpenSALT</a></li>
                            </ul>
                        </div>
                    </nav>
                {%- endblock -%}
            </footer>
        </div>
        <div style="display: none;">
            {% block sitejavascripts %}
                <script src="{{ asset('build/manifest.js', 'encore') }}"></script>
                <script src="{{ asset('build/base.js', 'encore') }}"></script>
                <script src="{{ asset('build/site.js', 'encore') }}"></script>
            {% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
