{% extends base_template %}

{% block body %}
    <h1>LsDefConcept edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <p class="text-right">
            <input class="btn btn-primary" type="submit" value="Save Changes" />
        </p>
    {{ form_end(edit_form) }}

    <ul class="list-inline text-right">
        <li>
            <a class="btn btn-default" href="{{ path('lsdef_concept_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
