{% extends 'layout.html.twig' %}

{% block body %}
    {% if not app.request.xmlHttpRequest %}
        <h1 class="title">LsDoc edit</h1>
    {% endif %}

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        {% if not app.request.xmlHttpRequest %}
            <p class="text-right">
                <input class="btn btn-primary" type="submit" value="Save Changes" />
            </p>
        {% endif %}
    {{ form_end(edit_form) }}

    {% if not app.request.xmlHttpRequest %}
        <br/>
        <ul class="list-inline text-right">
            <li>
                <a class="btn btn-default" href="{{ path('lsdoc_index') }}">Back to list</a>
            </li>
            {% if is_granted(constant('App\\Security\\Permission::FRAMEWORK_DELETE'), lsDoc) %}
                <li>
                    {{ form_start(delete_form) }}
                        <input class="btn btn-danger" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}
