{% extends base_template %}

{% block body %}
    <h1>LsDefGrade list</h1>

    <table class="table table-condensed table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Code</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lsDefGrade in lsDefGrades %}
            <tr>
                <td><a href="{{ path('lsdef_grade_show', { 'id': lsDefGrade.id }) }}">{{ lsDefGrade.id }}</a></td>
                <td>{{ lsDefGrade.title }}</td>
                <td>{{ lsDefGrade.description }}</td>
                <td>{{ lsDefGrade.code }}</td>
                <td>{% if lsDefGrade.updatedAt %}{{ lsDefGrade.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a class="btn btn-primary" href="{{ path('lsdef_grade_show', { 'id': lsDefGrade.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-default" href="{{ path('lsdef_grade_edit', { 'id': lsDefGrade.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a class="btn btn-default" href="{{ path('lsdef_grade_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
