{% extends base_template %}

{% block body %}
    <h1>LsDefSubject</h1>

    <table class="table table-condensed table-bordered table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lsDefSubject.id }}</td>
            </tr>
            <tr>
                <th>Identifier</th>
                <td>{{ lsDefSubject.identifier }}</td>
            </tr>
            <tr>
                <th>Uri</th>
                <td>{{ lsDefSubject.uri|local_uri }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ lsDefSubject.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ lsDefSubject.description }}</td>
            </tr>
            <tr>
                <th>Hierarchy Code</th>
                <td>{{ lsDefSubject.hierarchyCode }}</td>
            </tr>
            <tr>
                <th>Extra</th>
                <td>{{ dump(lsDefSubject.extra) }}{{ lsDefSubject.extra|json_encode(constant('JSON_PRETTY_PRINT')) }}</td>
            </tr>
            <tr>
                <th>Updated At</th>
                <td>{% if lsDefSubject.updatedAt %}{{ lsDefSubject.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline text-right">
        <li>
            <a class="btn btn-primary" href="{{ path('lsdef_subject_index') }}">Back to the list</a>
        </li>
        <li>
            <a class="btn btn-default" href="{{ path('lsdef_subject_edit', { 'id': lsDefSubject.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
