{% extends '::layout.html.twig' %}

{% block body %}
    {% if not app.request.xmlHttpRequest %}
        <h1>LsItem edit</h1>
    {% endif %}

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        {% if not app.request.xmlHttpRequest %}
            <p class="text-right">
                <input class="btn btn-primary" type="submit" value="Save Changes" />
            </p>
        {% endif %}
    {{ form_end(edit_form) }}

    {% if not app.request.xmlHttpRequest %}
        <br/>
        <ul class="list-inline text-right">
            <li>
                <a class="btn btn-default" href="{{ path('lsitem_index') }}">Back to the list</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    {% else %}
        {{ form_start(delete_form) }}
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}
