{% extends 'base.html.twig' %}

{% block body %}
    
    <h1>User list</h1>
    <ul class="list-inline pull-right">
        <li>
            <a class="btn btn-default" href="{{ path('admin_user_new') }}">Add a new user</a>
        </li>
    </ul>    
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="99%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Organization</th>
                <th>Username</th>
                <th>Roles</th>
                <th class="col-md-4">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('admin_user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.org.name }}</td>
                <td>{{ user.username }}</td>
                <td>
                    {%- for role in user.roles -%}
                        {% if not loop.first %}, {% endif %}{{ role |replace({'ROLE_':'', '_':' '}) |title }}
                    {%- endfor -%}
                </td>
                <td class="text-center">
                    <ul class="list-inline">
                        <li>
                            <a class="btn btn-primary" href="{{ path('admin_user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        {% if not user.suspended %}
                            <li>
                                <a class="btn btn-default" href="{{ path('admin_user_edit', { 'id': user.id }) }}">edit</a>
                            </li>
                        {% endif %}
                        <li>
                            {% if user.suspended %}
                                <a class="btn btn-default" href="{{ path('admin_user_unsuspend', { 'id': user.id }) }}">Unsuspend</a>
                            {% else %}
                                <a class="btn btn-default" href="{{ path('admin_user_suspend', { 'id': user.id }) }}">Suspend</a>
                            {% endif %}
                        </li>
                        {#1:Approved & Reject Button.click Approved button than Approved button replace with Reject  #}
                        {#<li>
                            {% if user.approved  %}
                                <a class="btn btn-default reject"  href="{{ path('admin_user_rejected', { 'id': user.id }) }}" >Reject</a>
                            {% else %}
                                <a class="btn btn-default approve" id="{{user.id }}" onclick="get_approved({{user.id }});" href="{{ path('admin_user_approved', { 'id': user.id }) }}" >Approved</a>
                            {% endif %}                             
                         </li>  #} 
                        {#2:Click Approved button than approved butoon hide#}
                                {% if not user.approved %}
                                <li>
                                   <a class="btn btn-default approve" id="{{user.id }}" onclick="get_approved({{user.id }});" href="{{ path('admin_user_approved', { 'id': user.id }) }}" >Approved</a>
                                </li>
                                {% endif %}                           
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
