{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table class="table table-condensed table-hover table-bordered table-striped">
        <tbody>
        {#
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
        #}
            {% if user.suspended %}
                <tr class="danger">
                    <th>Suspended</th>
                    <td>This user is suspended</td>
                </tr>
            {% endif %}
            <tr>
                <th>Organization</th>
                <td>{{ user.org.name }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    {%- for role in user.roles -%}
                        {% if not loop.first %}, {% endif %}{{ role |replace({'ROLE_':'', '_':' '}) |title }}
                    {%- endfor -%}
                </td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline pull-right">
        <li>
            <a class="btn btn-primary" href="{{ path('admin_user_index') }}">Back to the list</a>
        </li>
        {% if not user.suspended %}
            <li>
                <a class="btn btn-default" href="{{ path('admin_user_edit', { 'id': user.id }) }}">Edit</a>
            </li>
        {% else %}
            <li>
                <a class="btn btn-default" href="{{ path('admin_user_activate', { 'id': user.id }) }}">Activate</a>
            </li>
        {% endif %}
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
