{% extends '::layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                {% if error %}
                    <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
                <form action="{{ path('login') }}" method="post">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
                    </div>

                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input class="form-control" type="password" id="password" name="_password" />
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                    {% if redirect is not empty %}
                        <input type="hidden" name="_target_path" value="{{ redirect }}"/>
                    {% endif %}

                    <button class="pull-right btn btn-primary" type="submit">Login</button>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
                If you forget your password, please contact your organization admin, listed here:
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-3">
            </div>
            <div class="col-xs-6">
                <table class="table" id="js-help-table-admin-users">
                    <thead>
                        <tr>
                            <td>Username</td>
                            <td>Organization</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in org_admins %}
                            <tr>
                                <td>{{ user.username}}</td>
                                <td>{{ user.org.name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    $(function() {
        $('#js-help-table-admin-users').DataTable();
    });
</script>
{% endblock %}
