{% extends 'base.html.twig' %}

{% block body %}
  <h1>Task Model List</h1>
  <p>
    <a href="{{ path('taskmodel_new') }}">Add Task Model</a>
  </p>
  <table class="table table-condensed table-hover table-bordered table-striped">
      <thead>
          <tr>
              <th>Id</th>
              <th>task_narrative</th>
              <th>depth_of_knowledge</th>
              <th>item_type</th>
              <th>available_tools</th>
              <th>accessibility_concerns</th>
              <th>task_model_variables</th>
              <th>passage_stimulus_spec_code</th>
              <th>common_errors_misconceptions</th>
              <th>tei_guidelines</th>
              <th>task_model_notes</th>
              <th>example_items</th>
              <th>rubric_scoring_rules</th>
              <th>item_authoring_tips</th>
              <th>stem_requirements</th>
              <th>key_requirements</th>
              <th>distractor_requirements</th>
              <th>common_authoring_problems_requirements</th>
          </tr>
      </thead>
      <tbody>
      {% for task_model in task_models %}
          <tr>
            <td>
              <a href="{{ path('taskmodel_show', {'id': task_model.id}) }}">
                {{ task_model.id }}
              </a>
            </td>
            <td>{{ task_model.taskNarrative }}</td>
            <td>{{ task_model.depthOfKnowledge }}</td>
            <td>{{ task_model.itemType }}</td>
            <td>{{ task_model.availableTools }}</td>
            <td>{{ task_model.accessibilityConcerns }}</td>
            <td>{{ task_model.taskModelVariables }}</td>
            <td>{{ task_model.passageStimulusSpecCode }}</td>
            <td>{{ task_model.commonErrorsMisconceptions }}</td>
            <td>{{ task_model.teiGuidelines }}</td>
            <td>{{ task_model.taskModelNotes }}</td>
            <td>{{ task_model.exampleItems }}</td>
            <td>{{ task_model.rubricScoringRules }}</td>
            <td>{{ task_model.itemAuthoringTips }}</td>
            <td>{{ task_model.stemRequirements }}</td>
            <td>{{ task_model.keyRequirements }}</td>
            <td>{{ task_model.distractorRequirements }}</td>
            <td>{{ task_model.commonAuthoringProblemsRequirements }}</td>
          </tr>
      {% endfor %}
      </tbody>
  </table>
{% endblock %}
