{% extends 'layout.html.twig' %}

{% block body %}
    {% if not app.request.xmlHttpRequest %}
        <h1>LsItem edit</h1>
    {% endif %}

    
        {{ form_start(edit_form, {'enctype': 'multipart/form-data'}) }}
          {% set attachment = '' %}
        {% set notesAttachment = '' %}
        {% for entity in lsItemAttachment %}
            {% if entity.field == 'fullStatement' %}
             
               {% set attachment = attachment ~ ','~entity.filename %}

            {% elseif entity.field == 'notes' %}
                
                 {% set notesAttachment = notesAttachment ~ ','~entity.filename %}
            {% endif %}
        {% endfor %}
        <input type="hidden" name="ls_item[fullstatementAttachment]" id="ls_item_fullstatementAttachment" value="{{ attachment|trim(',')}}">
         <input type="hidden" name="ls_item[notesAttachment]" id="ls_item_notesAttachment" value="{{ notesAttachment|trim(',')}}">
        {% if not app.request.xmlHttpRequest %}
            
            
      
            <p class="text-right">
                  <input class="btn btn-primary" type="submit" value="Save Changes" id="item-submit-button"/>
            </p>
        {% endif %}
    {{ form_end(edit_form) }}

    {% if not app.request.xmlHttpRequest %}
        <br/>
        <ul class="list-inline text-right">
            <li>
                <a class="btn btn-default" href="{{ path('lsitem_index') }}">Back to the list</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    {% else %}
        {{ form_start(delete_form) }}
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}
