{% extends 'layout.html.twig' %}

{% block body %}
    {% if not app.request.xmlHttpRequest %}
        <h1>LsItem creation</h1>
    {% endif %}

       {{ form_start(form, {'enctype': 'multipart/form-data'}) }}

        <div class="form-group">
            <label class="col-sm-2"> {{ form_label(form.fullStatement) }} </label>
            <div class="col-sm-10">{{ form_widget(form.fullStatement) }}</div>
            <div class="col-sm-10" style="float: right;">{{ form_errors(form.fullStatement) }}</div>
        </div>
        
        <div class="form-group" {% if 'enable_filesystem' is active feature %} style="display: block;" {% endif %} style="display: none;">
            <label class="col-sm-2"> {{ form_label(form.attachment) }} </label>
            <div class="col-sm-10">{{ form_widget(form.attachment) }}</div>
        </div>
       
        <div class="form-group">
            <label class="col-sm-2 "> {{ form_label(form.humanCodingScheme) }} </label>
            <div class="col-sm-10">{{ form_widget(form.humanCodingScheme) }}</div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2"> {{ form_label(form.listEnumInSource) }} </label>
            <div class="col-sm-10">{{ form_widget(form.listEnumInSource) }}</div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2"> {{ form_label(form.abbreviatedStatement) }} </label>
            <div class="col-sm-10">{{ form_widget(form.abbreviatedStatement) }}</div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2"> {{ form_label(form.conceptKeywords) }} </label>
            <div class="col-sm-10">{{ form_widget(form.conceptKeywords) }}</div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2"> {{ form_label(form.conceptKeywordsUri) }} </label>
            <div class="col-sm-10">{{ form_widget(form.conceptKeywordsUri) }}</div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2"> {{ form_label(form.language) }} </label>
            <div class="col-sm-10">{{ form_widget(form.language) }}</div>
        </div>
      
        <div class="form-group"> 
            <label class="col-sm-2">{{ form_label(form.educationalAlignment) }} </label>
            <div class="col-sm-10">{{ form_widget(form.educationalAlignment) }}</div>
        </div>
       
        <div class="form-group">
            <label class="col-sm-2"> {{ form_label(form.itemType) }} </label>
            <div class="col-sm-10">{{ form_widget(form.itemType) }}</div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2"> {{ form_label(form.licenceUri) }} </label>
            <div class="col-sm-10">{{ form_widget(form.licenceUri) }}</div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2"> {{ form_label(form.notes) }} </label>
            <div class="col-sm-10">{{ form_widget(form.notes) }}</div>
        </div> 
       
        <div class="form-group" {% if 'enable_filesystem' is active feature %} style="display: block;" {% endif %} style="display: none;">
            <label class="col-sm-2"> {{ form_label(form.notesFile) }} </label>
            <div class="col-sm-10">{{ form_widget(form.notesFile) }}</div>
        </div> 
        
        <div class="form-group">
            <div class="col-sm-10">{{ form_widget(form.fullstatementAttachment) }}</div>
        </div> 
       
        {% if not app.request.xmlHttpRequest %}
            <input class="btn btn-primary" type="submit" value="Create" />
        {% endif %}
    {{ form_end(form) }}

    {% if not app.request.xmlHttpRequest %}
        <br/>
        <ul class="list-inline">
            <li>
                <a class="btn btn-default" href="{{ path('lsitem_index') }}">Back to the list</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
