{% extends '::layout.html.twig' %}

{% block title %}{{ lsDocTitle }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if 'comments' is active feature %}
        <link rel="stylesheet" href="{{ asset('build/commentscss.css', 'encore') }}"/>
    {% endif %}
{% endblock %}

{% block body %}
<!-- initially hide header and footer; we'll show them right away if we're not in "chooser mode" -->
<style>
    header, footer {
        display: none;
    }
</style>
<div class="row" id="docTitleRow" style="display:none">
    {% if lsDoc is not empty and lsDoc.adoptionStatus != "" %}
    <div class="col-sm-10">
        {% else %}
        <div class="col-sm-12">
            {% endif %}
            <div id="docTitleWrapper">
                <div id="displayBtnGroup" class="form-group">
                    <div class="btn-group" role="group" aria-label="...">
                        <button id="displayTreeBtn" type="button" class="btn btn-primary btn-xs">Tree<br/>View</button>
                        <button id="displayAssocBtn" type="button" class="btn btn-default btn-xs">Association<br/>View
                        </button>
                    </div>
                </div>
                <span id="docTitle">{{ lsDocTitle }}</span>
            </div>
        </div>
        {% if lsDoc is not empty and lsDoc.adoptionStatus != "" %}
            <div class="col-sm-2">
                <div id="docStatus"
                     class="docStatus-{{ lsDoc.adoptionStatus|default('Draft') }}">{{ lsDoc.adoptionStatus }}</div>
            </div>
        {% endif %}
    </div>

    <div class="row" id="treeView" style="display:none; width:100%">
        <div id="treeSideLeft" class="treeSide borderLeft">

            <div class="treeSideLeftInner">
                {% if editorRights %}
                    <div id="tree1Instructions">
                        <div id="tree1InitialInstructions" class="bg-info instructions" style="display:none">Select a
                            Competency Framework Document to view on the left side.
                        </div>
                        {% if isDraft %}
                            <div id="tree1SectionThisDocInstructions" class="bg-info instructions">
                                <button type="button" class="changeTree1DocumentBtn btn btn-primary btn-xs pull-right">
                                    Change Document
                                </button>
                                Browse, edit, reorder, and create new items here.<br/><label
                                        style="font-weight:normal; padding:5px 0 0 20px"><input type="checkbox"
                                                                                                id="enableMoveCheckbox">
                                    Enable drag-and-drop reordering</label></div>
                        {% endif %}

                        <div id="tree1SectionOtherDocInstructions" class="bg-info instructions" style="display:none">
                            <button type="button" class="changeTree1DocumentBtn btn btn-primary btn-xs pull-right">
                                Change Document
                            </button>
                            Drag and drop from right to left to <b>create associations</b>.
                        </div>
                        <div id="tree1SelectorDiv" class="container-fluid" style="display:none">
                            <div class="row">
                                <!-- document menu will be inserted here -->
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="assocGroupFilter form-group form-inline" style="display:none">
                    <b>Association group:</b>&nbsp;
                    <select class="assocGroupSelect form-control"></select>
                </div>

                <div id="tree1SectionControls" class="form-group" style="clear:both">
                    {% if editorRights  and isDraft %}
                    <div class="input-group" style="clear:both">
                    <span id="tree1SectionBulkControls" class="input-group-btn">
                        <button type="button" class="treeCheckboxControlBtn btn btn-default">
                            <input class="treeCheckboxControl" type="checkbox">
                        </button>

                        <button type="button" class="treeCheckboxMenuBtn btn btn-default dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display:none">Action <span
                                    class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a class="treeCheckboxMenuItem" data-cmd="delete">Delete</a></li>
                            <!-- <li><a class="treeCheckboxMenuItem" data-cmd="edit">Edit</a></li> -->
                            <li><a class="treeCheckboxMenuItem" data-cmd="makeFolders">Make Items Parents</a></li>
                            <li><a class="treeCheckboxMenuItem" data-cmd="hideCheckboxes">Hide Checkboxes</a></li>
                        </ul>
                    </span>
                        {% endif %}
                        <span class="filterClear glyphicon glyphicon-remove-circle"></span>
                        <input type="text" class="form-control treeFilter" id="filterOnTree" placeholder="Search...">
                        {% if editorRights  and isDraft %}
                    </div>
                    {% endif %}
                </div>

                <section id="tree1Section">
                    <div id="viewmode_tree1" class="treeDiv"></div>
                </section>

                <div id="noItemsInstructions" class="bg-info instructions" style="display:none">This document does not
                    currently contain any statements/items.
                    <ul>
                        {% if editorRights and isDraft %}
                            <li>To <b>create statements/items</b> click the "Add New Child Item" button at right.</li>
                            <li>To <b>create "crosswalk" associations</b> between two different documents, start by clicking "Change Document" above, then choose a different document to view here.</li>
                        {% endif %}
                        <li>To <b>view existing crosswalk associations</b>, click the "Association View" button above.</li>
                    </ul>
                </div>
            </div>
            <div class="treeSideRightInner">
                <div class="toggle-container-left">
                    <i class="fa fa-chevron-circle-right" aria-hidden="true" id="toggleRight"></i>
                </div>
            </div>
            <div id="dragbar"></div>
        </div>

        <div id="chooserModeTreeSideRightBackground"></div>

        <div id="treeSideRight" class="treeSide borderRight">
            <div class="rightTreeSideLeftInner">
                <div class="toggle-container-right">
                    <i class="fa fa-chevron-circle-left" aria-hidden="true" id="toggleLeft"></i></div>
            </div>
            <div class="rightTreeSideRightInner">
                {% if editorRights %}
                    <div class="form-group" id="treeRightSideMode">
                        <div class="btn-group" role="group" aria-label="...">
                            <button id="rightSideItemDetailsBtn" type="button" class="btn btn-primary">Item Details
                            </button>
                            {% if isDraft %}
                                <button id="rightSideCopyItemsBtn" type="button" class="btn btn-default">Copy Items
                                </button>
                            {% endif %}
                            {% if not isDeprecated %}
                                <button id="rightSideCreateAssociationsBtn" type="button" class="btn btn-default">Create
                                    Associations
                                </button>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                <section id="itemSection" class="panel panel-default">
                    <div id="items" class="panel-body">
                        <div id="itemInfo">
                            <div id="chooserModeButtons">
                                <button id="chooserModeItemDetailsChooseBtn" class="btn btn-primary btn-sm">Choose
                                </button>
                                <span id="chooserModeItemDetailsCloseDetailsBtn" class="glyphicon glyphicon-remove"
                                      title="Close details"></span>
                            </div>
                            <h4 class="itemTitle">
                                <img class="itemTitleIcon" src="/assets/img/item.png"/>
                                <span class="itemTitleSpan"></span>
                            </h4>
                            <div class="lsItemDetails">
                                <ul class="list-group lsItemDetailsMain"></ul>

                                <div class="lsItemDetailsMoreInfoLink"><a>More Info</a></div>

                                <div id="itemOptionsWrapper">
                                        <div class="itemOptions" id="itemOptions">
                                            {% if editorRights %}
                                            {% if isDraft %}
                                                <button type="button" class="btn btn-default btn-sm" data-toggle="modal"
                                                        data-target="#editItemModal" data-alt-document-disabled="true">
                                                    Edit
                                                </button>
                                                <button type="button" id="deleteItemBtn" class="btn btn-default btn-sm"
                                                        data-toggle="modal" data-alt-document-disabled="true">Delete
                                                </button>
                                                <button type="button" id="toggleFolderBtn"
                                                        class="btn btn-default btn-sm" data-toggle="modal"
                                                        data-alt-document-disabled="true">Make This Item a Parent
                                                </button>
                                                <button type="button" id="addChildBtn" class="btn btn-default btn-sm"
                                                        data-toggle="modal" data-target="#addNewChildModal"
                                                        data-alt-document-disabled="true">Add a New Child Item
                                                </button>
                                            {% endif %}
                                            {% if not isDeprecated %}
                                                <button type="button" id="addExemplarBtn" class="btn btn-default btn-sm"
                                                        data-toggle="modal" data-target="#addExemplarModal">Add an
                                                    Exemplar
                                                </button>
                                            {% endif %}
                                            {% endif %}
                                            {% if 'comments' is active feature and is_granted('comment') and is_granted('ROLE_ADMIN') %}
                                                <a href="#" class="export_csv_comment btn btn-default btn-sm" onclick="CommentSystem.exportCSV();" data-alt-document-disabled="true">Export Comments</a>
                                            {% endif %}
                                        </div>

                                    <div class="itemOptions" id="documentOptions">
                                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal"
                                                data-target="#exportModal">Export
                                        </button>
                                        {# use first version if we need to edit the adoptionStatus #}
                                        {% if editorRights %}
                                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal"
                                                    data-target="#editDocModal" data-alt-document-disabled="true">Edit
                                            </button>
                                            {% if isDraft %}
                                                <button type="button" class="btn btn-default btn-sm" data-toggle="modal"
                                                        data-target="#manageAssocGroupsModal"
                                                        data-alt-document-disabled="true">Manage Association Groups
                                                </button>
                                            {% endif %}
                                        {% endif %}
                                        {% if manageEditorsRights %}
                                            <a href="{{ path('framework_acl_edit', {'id':lsDocId}) }}"
                                               class="btn btn-default btn-sm" data-alt-document-disabled="true">Manage
                                                Access</a>
                                        {% endif %}

                                        {% if editorRights and isDraft %}
                                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal"
                                                    data-target="#addNewChildModal" data-alt-document-disabled="true">
                                                Add New Child Item
                                            </button>
                                        {% endif %}

                                        {% if editorRights %}
                                            {% if isDraft %}
                                                <button type="button" class="btn btn-default btn-sm" data-toggle="modal"
                                                        data-target="#addChildrenModal"
                                                        data-alt-document-disabled="true">Import Children
                                                </button>
                                                <button type="button" class="btn btn-default btn-sm" data-toggle="modal"
                                                        data-target="#updateFrameworkModal"
                                                        data-alt-document-disabled="true">Update Framework
                                                </button>
                                            {% endif %}
                                            {% if lsDoc.importLogs is not empty %}
                                                <button type="button" class="btn btn-default btn-sm" data-toggle="modal"
                                                        data-target="#seeImportLogs" data-alt-document-disabled="true">
                                                    Import Logs
                                                </button>
                                            {% endif %}
                                        {% endif %}
                                        {% if 'comments' is active feature and is_granted('comment') and is_granted('ROLE_ADMIN') %}
                                                <a href="#" class="export_csv_comment btn btn-default btn-sm" onclick="CommentSystem.exportCSV();" data-alt-document-disabled="true">Export Comments</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>  <!-- lsItemDetails -->
                            <div class="lsItemAssociations"></div>

                            <div id="associationRemoveBtn" style="display:none">
                                {% if editorRights and not isDeprecated %}
                                    <span class="pull-right" style="margin-left:5px"><span role="button"
                                                                                           class="btn btn-xs btn-default btn-remove-association"><span
                                                    class="glyphicon glyphicon-remove" aria-hidden="true"></span><span
                                                    class="sr-only">Remove</span></span></span>

                                {% endif %}
                            </div>
                        </div>  <!-- itemInfo -->
                    </div>
                </section>
                {% if 'comments' is active feature %}
                    {% if not is_granted('comment') %}
                        <p>To comment please login first</p>
                    {% endif %}
                    <div class="js-comments-container" data-lsdocid="{{ lsDocId }}"></div>
                {% endif %}

                {% if editorRights %}
                    <section id="tree2Section">
                        <div id="tree2InitialInstructions" class="bg-info instructions">Select a Competency Framework
                            Document to view on the right side.
                        </div>
                        <div id="tree2SectionCopyInstructions" class="bg-info instructions" style="display:none">
                            <button type="button" class="changeTree2DocumentBtn btn btn-primary btn-xs pull-right">
                                Change Document
                            </button>
                            Drag and drop from right to left to <b>copy items</b>.
                        </div>
                        <div id="tree2SectionRelationshipInstructions" class="bg-info instructions"
                             style="display:none">
                            <button type="button" class="changeTree2DocumentBtn btn btn-primary btn-xs pull-right">
                                Change Document
                            </button>
                            Drag and drop from right to left to <b>create associations</b>.
                        </div>

                        <div id="tree2SelectorDiv" class="container-fluid">
                            <div class="row">
                                {{ form_widget(docList) }}
                            </div>
                        </div>

                        <div class="assocGroupFilter form-group form-inline" style="display:none; margin-top:15px">
                            <b>Association group:</b>&nbsp;
                            <select class="assocGroupSelect form-control"></select>
                        </div>

                        <div id="tree2SectionControls" class="form-group">
                            <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="treeCheckboxControlBtn btn btn-default">
                            <input class="treeCheckboxControl" type="checkbox">
                        </button>

                        <button type="button" class="treeCheckboxMenuBtn btn btn-default dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display:none">Action <span
                                    class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a class="treeCheckboxMenuItem" data-cmd="hideCheckboxes">Hide Checkboxes</a></li>
                        </ul>
                    </span>
                                <span class="filterClear glyphicon glyphicon-remove-circle"></span>
                                <input type="text" class="form-control treeFilter" placeholder="Search...">
                            </div>
                        </div>

                        <div id="viewmode_tree2" class="treeDiv"></div>
                    </section>
                {% endif %}
            </div>
        </div>

    </div>


    <div class="row" id="assocView">
        <div class="col-sm-12">
            <!-- <h3>Associations:</h3> -->
            <div id="assocViewTableFilters" style="display:none">
                <div class="assocViewTableTypeFilters">
                    <div class="assocViewTableTypeFiltersHeader">Association Types:</div>
                    <label class="avTypeFilter"><input type="checkbox" data-filter="avShowChild"> Is Child
                        Of</label><br>
                    <label class="avTypeFilter"><input type="checkbox" data-filter="avShowExact" checked> Exact Match Of</label><br>
                    <label class="avTypeFilter"><input type="checkbox" data-filter="avShowExemplar" checked>
                        Exemplar</label><br>
                    <label class="avTypeFilter"><input type="checkbox" data-filter="avShowIsRelatedTo" checked> Is
                        Related To</label><br>
                    <label class="avTypeFilter"><input type="checkbox" data-filter="avShowPrecedes" checked>
                        Precedes</label><br>
                    <label class="avTypeFilter"><input type="checkbox" data-filter="avShowIsPeerOf" checked> Is Peer Of</label><br>
                    <label class="avTypeFilter"><input type="checkbox" data-filter="avShowIsPartOf" checked> Is Part Of</label><br>
                    <label class="avTypeFilter"><input type="checkbox" data-filter="avShowHasSkillLevel" checked> Has
                        Skill Level</label><br>
                    <label class="avTypeFilter"><input type="checkbox" data-filter="avShowReplacedBy" checked> Replaced
                        By</label><br>
                </div>

                <div class="assocViewTableGroupFilters">
                    <div class="assocViewTableGroupFiltersHeader">Association Groups:</div>
                    <label class="avGroupFilter"><input type="checkbox" data-group-id="0" checked> “ Default Group “</label><br>
                </div>
            </div>
            <table id="assocViewTable" class="table table-striped table-bordered table-hover display"></table>
        </div>
    </div>

    {% if editorRights %}
        <div class="modal fade" id="seeImportLogs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Import Logs</h4>
                    </div>
                    <div class="modal-body">
                        <button class="btn btn-link" id="mark-logs-as-read">Mark all as read</button>
                        <div class="list-group">
                            {% if lsDoc is not empty %}
                                {% for importLog in lsDoc.importLogs %}
                                    {% if importLog.read == false %}
                                        <a href="#"
                                           class="list-group-item list-group-item-{{ importLog.messageType }}">{{ importLog.message }}</a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if lsDoc is not empty %}
        {% embed 'CftfBundle:Editor:_modalComponent.html.twig' with {
        'modalName':'export',
        'modalTitle':'Export Document',
        'closeButton': 'Done'
        } %}
            {% block modalButtons %}{% endblock %}
            {% block modalBody %}
                {% embed 'CftfBundle:LsDoc:_exportComponent.html.twig' with {'view':'editor'} %}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    {% endif %}

    {% if editorRights %}
        {% embed 'CftfBundle:DocTree:updateFrameworkModal.html.twig' with {
        'lsDocId':lsDocId
        } %}
        {% endembed %}
        {% embed 'CftfBundle:DocTree:wizard.html.twig' with {
        'lsDocId':lsDocId
        } %}
        {% endembed %}

        {% embed 'CftfBundle:Editor:_modalComponent.html.twig' with {
        'modalName':'loadExternalDocument',
        'modalTitle':'Load External Document',
        'closeButton': 'Cancel',
        'saveButton': 'Load Document'
        } %}
            {% block modalBody %}
                {% embed 'CftfBundle:DocTree:_loadExternalDocumentComponent.html.twig' with {'view':'editor'} %}
                {% endembed %}
            {% endblock %}
        {% endembed %}

        {% embed 'CftfBundle:Editor:_fullScreenModalComponent.html.twig' with {
        'modalName':'editDoc',
        'modalTitle':'Edit Document',
        'closeButton': 'Cancel',
        'saveButton': 'Save Changes'
        } %}
        {% endembed %}

        {% embed 'CftfBundle:Editor:_fullScreenModalComponent.html.twig' with {
        'modalName':'addNewChild',
        'modalTitle':'Add New Child Item',
        'closeButton': 'Cancel',
        'saveButton': 'Create'
        } %}
        {% endembed %}

        {% embed 'CftfBundle:Editor:_fullScreenModalComponent.html.twig' with {
        'modalName':'editItem',
        'modalTitle':'Edit Item',
        'closeButton': 'Cancel',
        'saveButton': 'Save Changes'
        } %}
        {% endembed %}

        {% embed 'CftfBundle:Editor:_modalComponent.html.twig' with {
        'modalName':'associate',
        'modalTitle':'Create Association',
        'closeButton': 'Cancel',
        'saveButton': 'Associate'
        } %}
            {% block modalBody %}
                {% embed 'CftfBundle:LsAssociation:_newAssociationComponent.html.twig' with {'view':'editor'} %}
                {% endembed %}
            {% endblock %}
        {% endembed %}

        {% embed 'CftfBundle:Editor:_modalComponent.html.twig' with {
        'modalName':'addExemplar',
        'modalTitle':'Add an Exemplar',
        'closeButton': 'Cancel',
        'saveButton': 'Add Exemplar'
        } %}
            {% block modalBody %}
                {% embed 'CftfBundle:LsDoc:_addExemplarComponent.html.twig' with {'view':'editor'} %}
                {% endembed %}
            {% endblock %}
        {% endembed %}

        {% embed 'CftfBundle:Editor:_modalComponent.html.twig' with {
        'modalName':'deleteOneItem',
        'modalTitle':'Delete Item',
        'saveButton': 'Delete',
        'closeButton': 'Cancel'
        } %}
            {% block modalBody %}
                <p>Are you sure you want to delete this item?</p>
            {% endblock %}
            {% block modalButtons %}
                <button type="button" class="btn btn-danger btn-delete">Delete</button>
            {% endblock %}
        {% endembed %}

        {% embed 'CftfBundle:Editor:_modalComponent.html.twig' with {
        'modalName':'deleteItemAndChildren',
        'modalTitle':'Delete Item and Children',
        'saveButton': 'Delete',
        'closeButton': 'Cancel'
        } %}
            {% block modalBody %}
                <p><strong class="text-danger">Warning: </strong> This item has children.</p>
                <p>Are you sure you want to delete this item <strong>and</strong> all its children?</p>
            {% endblock %}
            {% block modalButtons %}
                <button type="button" class="btn btn-danger btn-delete">Delete</button>
            {% endblock %}
        {% endembed %}

        {% embed 'CftfBundle:Editor:_modalComponent.html.twig' with {
        'modalName':'deleteMultipleItems',
        'modalTitle':'Delete Items',
        'saveButton': 'Delete',
        'closeButton': 'Cancel'
        } %}
            {% block modalBody %}
                <p>Are you sure you want to delete the <strong id="deleteMultipleItemsModalCount"></strong> selected
                    items?</p>
            {% endblock %}
            {% block modalButtons %}
                <button type="button" class="btn btn-danger btn-delete">Delete</button>
            {% endblock %}
        {% endembed %}

        {% embed 'CftfBundle:Editor:_modalComponent.html.twig' with {
        'modalName':'manageAssocGroups',
        'modalTitle':'Manage Association Groups',
        'closeButton': 'Done'
        } %}
            {% block modalButtons %}{% endblock %}
            {% block modalBody %}
                {% embed 'CftfBundle:LsDoc:_manageAssociationGroups.html.twig' with {'view':'editor'} %} {% endembed %}
            {% endblock %}
        {% endembed %}

        {% embed 'CftfBundle:Editor:_modalComponent.html.twig' with {
        'modalName':'editAssocGroup',
        'modalTitle':'Edit Association Group',
        'closeButton': 'Cancel',
        'saveButton': 'Save Changes'
        } %}
        {% endembed %}

        {% embed 'CftfBundle:Editor:_modalComponent.html.twig' with {
        'modalName':'addAssocGroup',
        'modalTitle':'Add New Association Group',
        'closeButton': 'Cancel',
        'saveButton': 'Create'
        } %}
        {% endembed %}

        {% embed 'CftfBundle:Editor:_modalComponent.html.twig' with {
        'modalName':'deleteAssocGroup',
        'modalTitle':'Delete Association Group',
        'saveButton': 'Delete',
        'closeButton': 'Cancel'
        } %}
            {% block modalBody %}
                <p>Are you sure you want to delete this association group?</p>
            {% endblock %}
            {% block modalButtons %}
                <button type="button" class="btn btn-danger btn-delete">Delete</button>
            {% endblock %}
        {% endembed %}
    {% endif %}

    <div id="modalSpinner">
        <div id="modalSpinnerCover"></div>
        <div id="modalSpinnerMessage"></div>
    </div>
    {% endblock %}

    {% block javascripts %}
        {% if 'comments' is active feature %}
        <script src="{{ asset('build/comments.js', 'encore') }}"></script>
        {% endif %}

        {% autoescape 'js' %}
        <script>
            window.apx = window.apx || {};

            apx.enableEdit = {{ (editorRights?"true":"false") |e('js') }};

            // loaded docid and initial lsItem and assocGroup to show
            apx.lsDocId = {{ lsDocId |json_encode |raw }};
            apx.initialLsItemId = {{ lsItemId |default(null) |json_encode |raw }};
            apx.initialAssocGroup = {{ assocGroup |default(null) |json_encode |raw }};

            apx.assocTypes = {{ assocTypes |json_encode |raw }};
            apx.inverseAssocTypes = {{ inverseAssocTypes |json_encode |raw }};

            // establish paths
            apx.path = apx.path || {};
            apx.path.lsDoc = '{{ path('doc_tree_view', {'slug':'ID'}) }}';
            apx.path.lsItem = '{{ path('doc_tree_item_view', {'id':'ID'}) }}';
            apx.path.lsItemDetails = '{{ path('doc_tree_item_details', {'id':'ID'}) }}';
            apx.path.lsdoc_edit = '{{ path('lsdoc_edit', {'id':'ID'}) }}';
            apx.path.lsitem_new = '{{ path('lsitem_new', {'doc':'DOC'}) }}';
            apx.path.lsitem_edit = '{{ path('lsitem_edit', {'id':'ID'}) }}';
            apx.path.lsitem_tree_delete = '{{ path('lsitem_tree_delete', {'id':'ID', 'includingChildren':'CHILDREN'}) }}';
            apx.path.lsitem_new = '{{ path('lsitem_new', {'doc':'DOC', 'parent':'PARENT'}) }}';
            apx.path.lsitem_copy_item = '{{ path('lsitem_copy_item', {'id':'ID'}) }}';
            apx.path.lsassociation_tree_new = '{{ path('lsassociation_tree_new', {'lsDoc': lsDocId}) }}';
            apx.path.lsassociation_remove = '{{ path('lsassociation_remove', {'id':'ID'}) }}';
            apx.path.lsassociation_tree_new_exemplar = '{{ path('lsassociation_tree_new_exemplar', {'originLsItem':'ORIGIN_ID'}) }}';
            apx.path.doctree_render_document = '{{ path('doctree_render_document', {'id':'ID', '_format':'json'}) }}';
            apx.path.doctree_update_items = '{{ path('doctree_update_items', {'id':'ID', '_format':'json'}) }}';
            apx.path.lsdef_association_grouping_new = '{{ path('lsdef_association_grouping_new') }}';
            apx.path.lsdef_association_grouping_edit = '{{ path('lsdef_association_grouping_edit', {'id':'ID'}) }}';
            apx.path.lsdef_association_grouping_tree_delete = '{{ path('lsdef_association_grouping_tree_delete', {'id':'ID'}) }}';

            apx.path.doctree_cfpackage_export = '{{ path('doctree_cfpackage_export', {'id':'ID'}) }}';
            apx.path.doctree_retrieve_document = '{{ path('doctree_retrieve_document', {'id':'ID'}) }}';

            //////////////////////////////////
            function initialize() {
                if (!$.isFunction(apx.initialize)) {
                    setTimeout(initialize, 100);
                    return;
                }
                apx.initialize();
            }

            $(function () {
                initialize();
            });
        </script>
        {% endautoescape %}
    {% endblock %}
