{% extends '::layout.html.twig' %}

{% block title %}OLD VERSION: {{ lsDoc.title }}{% endblock %}

{% block body %}
<div class="row">
    {% if lsDoc.adoptionStatus != "" %}
    <div class="col-sm-10">
    {% else %}
    <div class="col-sm-12">
    {% endif %}
        <div id="docTitle">
            <div id="displayBtnGroup" class="form-group">
                <div class="btn-group" role="group" aria-label="...">
                    <button id="displayTreeBtn" type="button" class="btn btn-primary btn-xs">Tree View</button>
                    <button id="displayAssocBtn" type="button" class="btn btn-default btn-xs">Associations</button>
                </div>
            </div>
            {{ lsDoc.title }}
        </div>
    </div>
    {% if lsDoc.adoptionStatus != "" %}
    <div class="col-sm-2">
        <div id="docStatus" class="docStatus-{{ lsDoc.adoptionStatus|default('Draft') }}">{{ lsDoc.adoptionStatus }}</div>
    </div>
    {% endif %}
</div>

<div class="row" id="treeView">
    <div id="treeSideLeft" class="col-sm-6 treeSide">
        <div class="assocGroupFilter form-group form-inline" style="display:none">
            <b>Association group:</b>&nbsp;
            <select class="assocGroupSelect form-control"></select>
        </div>

        <div class="form-group" style="clear:both">
            {% if is_granted('edit', lsDoc) %}
            <div class="input-group" style="clear:both">
                <span class="input-group-btn">
                    <button type="button" class="treeCheckboxControlBtn btn btn-default">
                        <input class="treeCheckboxControl" type="checkbox">
                    </button>

                    <button type="button" class="treeCheckboxMenuBtn btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display:none">Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a class="treeCheckboxMenuItem" data-cmd="delete">Delete</a></li>
                        <li><a class="treeCheckboxMenuItem" data-cmd="edit">Edit</a></li>
                        <li><a class="treeCheckboxMenuItem" data-cmd="makeFolders">Make Items Parents</a></li>
                        <li><a class="treeCheckboxMenuItem" data-cmd="hideCheckboxes">Hide Checkboxes</a></li>
                    </ul>
                </span>
            {% endif %}
                <span class="filterClear glyphicon glyphicon-remove-circle"></span>
                <input type="text" class="form-control treeFilter" id="filterOnTree" placeholder="Search...">
            {% if is_granted('edit', lsDoc) %}
            </div>
            {% endif %}
        </div>

        <section id="tree1Section">
            <div class="treeDiv" id="viewmode_tree"></div>
        </section>
    </div>

    <div id="treeSideRight" class="col-sm-6 treeSide">
        {% if is_granted('edit', lsDoc) %}
        <div class="form-group">
            <div class="btn-group" role="group" aria-label="...">
                <button id="rightSideItemDetailsBtn" type="button" class="btn btn-primary">Item Details</button>
                <button id="rightSideCopyItemsBtn" type="button" class="btn btn-default">Copy Items</button>
                <button id="rightSideCreateAssociationsBtn" type="button" class="btn btn-default">Create Associations</button>
            </div>
        </div>
        {% endif %}

        <section id="itemSection" class="panel panel-default docStatus-{{ lsDoc.adoptionStatus|default('Draft') }}">
            <div id="items" class="panel-body">
                <div id="documentInfo">
                    <h4 class="itemTitle">
                        <img class="itemTitleIcon" src="/assets/img/doc.png">
                        <span class="itemTitleSpan">
                            {% if lsDoc.version is not empty %}
                            <span style="float:right" class="lessImportant">Version {{ lsDoc.version }}</span>
                            {% endif %}
                            {{lsDoc.title}}
                        </span>
                    </h4>
                    <ul class="list-group">
                        {% for field, name in {
                        'officialUri': 'Official URL',
                        'creator': 'Creator',
                        'description': 'Description',
                        'subjects': 'Subject',
                        'language': 'Language',
                        'adoptionStatus': 'Adoption Status',
                        'note': 'Notes'
                        } %}
                        {% if attribute(lsDoc, field) is not empty %}
                        <li class="list-group-item">
                            <strong>{{ name }}:</strong>
                            {% set value = attribute(lsDoc, field) %}
                            {% if field == 'creator' %}
                            {{ value }}
                            {% if lsDoc.publisher is not empty %}
                            <span class="lessImportant">Publisher: {{ lsDoc.publisher }}</span>
                            {% endif %}
                            {% elseif field == 'adoptionStatus' %}
                            {{ value }}
                            {% if lsDoc.statusStart is not empty %}
                            <span class="lessImportant">From {{ lsDoc.statusStart|date("m/d/Y") }}</span>
                            {% endif %}
                            {% if lsDoc.statusEnd is not empty %}
                            <span class="lessImportant">Until {{ lsDoc.statusEnd|date("m/d/Y") }}</span>
                            {% endif %}
                            </span>
                            {% elseif field == 'subjects' %}
                            {% for subject in value %}
                            {%- if not loop.first %}, {% endif %}{{ subject.title }}
                            {%- endfor %}
                            {% elseif field == 'uri' %}
                            <a href="{{ value|local_uri }}">{{ value|local_remote_uri }}</a>
                            {% else %}
                            {{ value }}
                            {% endif %}
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>

                    <div class="itemOptions">
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#exportModal">Export</button>
                        {# use first version if we need to edit the adoptionStatus #}
                        {% if is_granted('edit', lsDoc) %}
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#editDocModal">Edit</button>
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#manageAssocGroupsModal">Manage Association Groups</button>
                        {% endif %}
                        {% if is_granted('manage_editors', lsDoc) %}
                        <a href="{{ path('framework_acl_edit', {'id':lsDoc.id}) }}" class="btn btn-default btn-sm">Manage Access</a>
                        {% endif %}

                        {% if is_granted('edit', lsDoc) %}
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#addNewChildModal">Add New Child Item</button>
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#addExemplarModal">Add an Exemplar</button>
                        {% endif %}

                        {% if is_granted('create', lsDoc) %}
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#addChildrenModal">Import Children</button>
                        {% endif %}
                    </div>

                </div>
                <div class="itemInfo" id="itemInfoTemplate" style="display:none">
                    <h4 class="itemTitle"></h4>
                    <div class="itemDetails"></div>
                </div>
            </div>
        </section>

        <section id="tree2Section">
            <div id="tree2InitialInstructions" class="bg-info instructions">Start by selecting another Competency Framework Document here.</div>
            <div id="tree2SectionCopyInstructions" class="bg-info instructions" style="display:none"><button type="button" class="changeTree2DocumentBtn btn btn-primary btn-xs pull-right">Change Document</button>Drag and drop from right to left to <b>copy items</b>.</div>
            <div id="tree2SectionRelationshipInstructions" class="bg-info instructions" style="display:none"><button type="button" class="changeTree2DocumentBtn btn btn-primary btn-xs pull-right">Change Document</button>Drag and drop from right to left to <b>create associations</b>.</div>

            <div id="tree2SelectorDiv" class="container-fluid"><div class="row">
                {{ form_widget(docList) }}
            </div></div>

            <div class="assocGroupFilter form-group form-inline" style="display:none; margin-top:15px">
                <b>Association group:</b>&nbsp;
                <select class="assocGroupSelect form-control"></select>
            </div>

            <div id="tree2SectionControls" class="form-group">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="treeCheckboxControlBtn btn btn-default">
                            <input class="treeCheckboxControl" type="checkbox">
                        </button>

                        <button type="button" class="treeCheckboxMenuBtn btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display:none">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a class="treeCheckboxMenuItem" data-cmd="hideCheckboxes">Hide Checkboxes</a></li>
                        </ul>
                    </span>
                    <input type="text" class="form-control treeFilter" placeholder="Search...">
                    <span class="filterClear glyphicon glyphicon-remove-circle"></span>
                    <span class="input-group-btn"></span>
                </div>
            </div>

            <div id="viewmode_tree2" class="treeDiv"></div>
        </section>
    </div>
</div>

<div class="row" id="assocView">
    <div class="col-sm-12">
        <!-- <h3>Associations:</h3> -->
        <div id="assocViewTableFilters" style="display:none">
            <div class="assocViewTableTypeFilters">
                <div class="assocViewTableTypeFiltersHeader">Association Types:</div>
                <label class="avTypeFilter"><input type="checkbox" data-filter="avShowChild"> Is Child Of</label><br>
                <label class="avTypeFilter"><input type="checkbox" data-filter="avShowExact"> Exact Match Of</label><br>
                <label class="avTypeFilter"><input type="checkbox" data-filter="avShowExemplar" checked> Exemplar</label><br>
                <label class="avTypeFilter"><input type="checkbox" data-filter="avShowOtherTypes" checked> Other Types</label><br>
            </div>

            <div class="assocViewTableGroupFilters">
                <div class="assocViewTableGroupFiltersHeader">Association Groups:</div>
                <label class="avGroupFilter"><input type="checkbox" data-group-id="0" checked> – Default Group –</label><br>
            </div>
        </div>
        <table id="assocViewTable" class="table table-striped table-bordered table-hover display"></table>
    </div>
</div>

{% embed 'CftfBundle:DocTree:wizard.html.twig' with {
    'lsDocId':lsDoc.id
}%}
{% endembed %}

{% embed 'CftfBundle:Editor:_modalComponent.html.twig' with {
'modalName':'export',
'modalTitle':'Export Document',
'closeButton': 'Done'
} %}
{% block modalButtons %}{% endblock %}
{% block modalBody %}
{% embed 'CftfBundle:LsDoc:_exportComponent.html.twig' with {'view':'editor'} %}
{% endembed %}
{% endblock %}
{% endembed %}

{% embed 'CftfBundle:Editor:_modalComponent.html.twig' with {
'modalName':'editDoc',
'modalTitle':'Edit Document',
'closeButton': 'Cancel',
'saveButton': 'Save Changes'
} %}
{% endembed %}

{% embed 'CftfBundle:Editor:_modalComponent.html.twig' with {
'modalName':'addNewChild',
'modalTitle':'Add New Child Item',
'closeButton': 'Cancel',
'saveButton': 'Create'
} %}
{% endembed %}

{% embed 'CftfBundle:Editor:_modalComponent.html.twig' with {
'modalName':'editItem',
'modalTitle':'Edit Item',
'closeButton': 'Cancel',
'saveButton': 'Save Changes'
} %}
{% endembed %}

{% embed 'CftfBundle:Editor:_modalComponent.html.twig' with {
'modalName':'associate',
'modalTitle':'Create Association',
'closeButton': 'Cancel',
'saveButton': 'Associate'
} %}
{% endembed %}

{% embed 'CftfBundle:Editor:_modalComponent.html.twig' with {
'modalName':'addExemplar',
'modalTitle':'Add an Exemplar',
'closeButton': 'Cancel',
'saveButton': 'Add Exemplar'
} %}
{% block modalBody %}
{% embed 'CftfBundle:LsDoc:_addExemplarComponent.html.twig' with {'view':'editor'} %}
{% endembed %}
{% endblock %}
{% endembed %}

{% embed 'CftfBundle:Editor:_modalComponent.html.twig' with {
'modalName':'deleteOneItem',
'modalTitle':'Delete Item',
'saveButton': 'Delete',
'closeButton': 'Cancel'
} %}
{% block modalBody %}
<p>Are you sure you want to delete this item?</p>
{% endblock %}
{% block modalButtons %}
<button type="button" class="btn btn-danger btn-delete">Delete</button>
{% endblock %}
{% endembed %}

{% embed 'CftfBundle:Editor:_modalComponent.html.twig' with {
'modalName':'deleteItemAndChildren',
'modalTitle':'Delete Item and Children',
'saveButton': 'Delete',
'closeButton': 'Cancel'
} %}
{% block modalBody %}
<p><strong class="text-danger">Warning: </strong> This item has children.</p>
<p>Are you sure you want to delete this item <strong>and</strong> all its children?</p>
{% endblock %}
{% block modalButtons %}
<button type="button" class="btn btn-danger btn-delete">Delete</button>
{% endblock %}
{% endembed %}

{% embed 'CftfBundle:Editor:_modalComponent.html.twig' with {
'modalName':'deleteMultipleItems',
'modalTitle':'Delete Items',
'saveButton': 'Delete',
'closeButton': 'Cancel'
} %}
{% block modalBody %}
<p>Are you sure you want to delete the <strong id="deleteMultipleItemsModalCount"></strong> selected items?</p>
{% endblock %}
{% block modalButtons %}
<button type="button" class="btn btn-danger btn-delete">Delete</button>
{% endblock %}
{% endembed %}

{% embed 'CftfBundle:Editor:_modalComponent.html.twig' with {
'modalName':'manageAssocGroups',
'modalTitle':'Manage Association Groups',
'closeButton': 'Done'
} %}
{% block modalButtons %}{% endblock %}
{% block modalBody %}
{% embed 'CftfBundle:LsDoc:_manageAssociationGroups.html.twig' with {'view':'editor'} %} {% endembed %}
{% endblock %}
{% endembed %}

{% embed 'CftfBundle:Editor:_modalComponent.html.twig' with {
'modalName':'editAssocGroup',
'modalTitle':'Edit Association Group',
'closeButton': 'Cancel',
'saveButton': 'Save Changes'
} %}
{% endembed %}

{% embed 'CftfBundle:Editor:_modalComponent.html.twig' with {
'modalName':'addAssocGroup',
'modalTitle':'Add New Association Group',
'closeButton': 'Cancel',
'saveButton': 'Create'
} %}
{% endembed %}

{% embed 'CftfBundle:Editor:_modalComponent.html.twig' with {
'modalName':'deleteAssocGroup',
'modalTitle':'Delete Association Group',
'saveButton': 'Delete',
'closeButton': 'Cancel'
} %}
{% block modalBody %}
<p>Are you sure you want to delete this association group?</p>
{% endblock %}
{% block modalButtons %}
<button type="button" class="btn btn-danger btn-delete">Delete</button>
{% endblock %}
{% endembed %}


<div id="modalSpinner"><div id="modalSpinnerCover"></div><div id="modalSpinnerMessage"></div></div>
{% endblock %}

{% block javascripts %}
<script>
window.app = window.app||{};
app.lsDocId = {{ lsDoc.id }};
{% if lsItemId is not empty %}
    app.initialLsItemId = {{ lsItemId }};
{% endif %}
{% if assocGroup is not empty %}
    app.initialAssocGroup = {{ assocGroup }};
{% endif %}
// establish paths
app.path = app.path||{};
app.path.lsDoc = '{{ path('doc_tree_viewx', {'slug':'ID'}) }}';
app.path.lsItem = '{{ path('doc_tree_item_viewx', {'id':'ID'}) }}';
app.path.lsItemDetails = '{{ path('doc_tree_item_details', {'id':'ID'}) }}';
app.path.lsdoc_edit = '{{ path('lsdoc_edit', {'id':'ID'}) }}';
app.path.lsitem_new = '{{ path('lsitem_new', {'doc':'DOC'}) }}';
app.path.lsitem_edit = '{{ path('lsitem_edit', {'id':'ID'}) }}';
app.path.lsitem_tree_delete = '{{ path('lsitem_tree_delete', {'id':'ID', 'includingChildren':'CHILDREN'}) }}';
app.path.lsitem_new = '{{ path('lsitem_new', {'doc':'DOC', 'parent':'PARENT'}) }}';
app.path.lsitem_copy_item = '{{ path('lsitem_copy_item', {'id':'ID'}) }}';
app.path.lsassociation_tree_new = '{{ path('lsassociation_tree_new_old', {'originLsItem':'ORIGIN_ID', 'destinationLsItem':'DESTINATION_ID'}) }}';
app.path.lsassociation_remove = '{{ path('lsassociation_remove', {'id':'ID'}) }}';
app.path.lsassociation_tree_new_exemplar = '{{ path('lsassociation_tree_new_exemplar', {'originLsItem':'ORIGIN_ID'}) }}';
app.path.doctree_render_document = '{{ path('doctree_render_document', {'id':'ID', '_format':'json'}) }}';
app.path.doctree_update_items = '{{ path('doctree_update_items', {'id':'ID', '_format':'json'}) }}';
app.path.lsdef_association_grouping_new = '{{ path('lsdef_association_grouping_new') }}';
app.path.lsdef_association_grouping_edit = '{{ path('lsdef_association_grouping_edit', {'id':'ID'}) }}';
app.path.lsdef_association_grouping_tree_delete = '{{ path('lsdef_association_grouping_tree_delete', {'id':'ID'}) }}';
//////////////////////////////////////////////////////
// INITIALIZATION
// establish assocGroups
app.allAssocGroups = {
    {% for ag in assocGroups %}
    "{{ ag.id }}": {"id":"{{ ag.id }}", "title":"{{ ag.title|e('js') }}", "lsDocId":"{% if ag.lsDoc is not empty %}{{ ag.lsDoc.id }}{% endif %}"},
    {% endfor %}
};

app.docAssocs = {
    {% for assoc in lsAssociations %}
    "{{ assoc.id }}": {
        "t": "{{ assoc.type }}",
        {% if assoc.originLsItem is not empty %}
            "o": "{{ assoc.originLsItem.id }}",
        {% elseif assoc.originNodeUri is not empty %}
            "ou": "{{ assoc.originNodeUri }}",
        {% elseif assoc.originNodeIdentifier is not empty %}
            "oi": "{{ assoc.originNodeIdentifier }}",
        {% endif %}
        {% if assoc.destinationLsItem is not empty %}
            "d": "{{ assoc.destinationLsItem.id }}",
        {% elseif assoc.destinationNodeUri is not empty %}
            "du": "{{ assoc.destinationNodeUri }}",
        {% elseif assoc.destinationNodeIdentifier is not empty %}
            "di": "{{ assoc.destinationNodeIdentifier }}",
        {% endif %}
        {% if assoc.group is not empty %}"g": "{{ assoc.group.id }}"{% endif %}
    },
    {% endfor %}
};

app.associatedItems = {
    {% for assocItem in assocItems %}
    "{{ assocItem.id }}": {
        {% if assocItem.abbreviatedStatement is not empty %}
            "stmt": "{{ assocItem.abbreviatedStatement }}",
        {% elseif assocItem.fullStatement is not empty %}
            "stmt": "{{ assocItem.fullStatement }}",
        {% endif %}
        {% if assocItem.humanCodingScheme is not empty %}
            "hcs": "{{ assocItem.humanCodingScheme }}",
        {% endif %}
        {% if assocItem.lsDoc is not empty %}
            "doc": "{{ assocItem.lsDoc.id }}",
        {% endif %}
    },  
    {% endfor %}
};

// establish the tree for the lsdoc we're editing
app.tree1 = {{ render_esi(path('doctree_render_document', {'id':lsDoc.id, '_format':'json'})) }};

function initialize() {
    if (!$.isFunction(app.initialize)) {
        setTimeout(initialize, 100);
        return;
    }
    app.initialize();
}

$(function(){
    initialize();
});
</script>
{% endblock %}
