<div id="addChildrenModal" class="modal bs-example-modal-lg fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Import Items</h4>
            </div>
            <div class="modal-body fields-body-framework">
                <h6>Questions about fields? <a href="https://docs.google.com/spreadsheets/d/1idJv2lHCU4xojCSm5vh_zBFhgUGQvvaNSwmdSzD3QIc/edit#gid=821808802" target="_blank">see this guide</a></h6>
                <div id="import-div">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#local" data-toggle="tab">Import local file</a></li>
                                {% if github_client_id is not empty %}
                                    <li class="github-tab"><a href="#github" data-toggle="tab">Import from GitHub</a></li>
                                {% endif %}
                            </ul>
                            <br>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="local">
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <input id="file-url" type="file" class="form-control" accept=".csv,.json">
                                            <div class="alert alert-danger asn-error-msg hidden" role="alert"></div>
                                        </div>
                                        <div class="col-xs-3" style="padding-left: 0px; text-align: right; line-height: 34px;">
                                            <label> Framework to be associated</label>
                                        </div>
                                        {% set lastCreator = '' %}
                                        <div class="col-xs-4">
                                            <select id="js-framework-to-association" class="form-control">
                                                <option value="all">All</option>
                                                {% for framework in lsDocs %}
                                                    {% if framework.creator != lastCreator %}
                                                        {% if not loop.first %}</ul></li>{% endif %}
                                                        <optgroup label="{{ framework.creator }}">
                                                                {% set lastCreator = framework.creator %}
                                                    {% endif %}
                                                    <option value="{{ framework.id }}">{{ framework.title }}</a></li>
                                                    {% if loop.last == true and framework.creator != '' %}
                                                        </optgroup>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-import-csv" onclick="SaltLocal.handleFile('local', 'file-url');">Import Children</a>
                                </div>
                                <div id="github" class="tab-pane fade">
                                    <div class="panel panel-default">
                                        <div class= "panel-heading panel-title">
                                            Repositories list
                                        </div>
                                        <div class="panel-body js-github-list">
                                            <div id="repos" class="hidden"></div>
                                            <div id="files" class="hidden"></div>
                                            <p class="js-github-message-error" style="display: none;">
                                                <a href="{{ path('github_login') }}">Login with your GitHub credentials</a>
                                            </p>
                                            <p class="js-github-message-loading">Loading...</p>
                                        </div>
                                        <div class="panel-footer">
                                            <a href="#" onclick="listRepositories();" class="repositories-list hidden">List Repositories</a>
                                            <a href="#" onclick="SaltGithub.getFiles(event, false);" class="back hidden"> - Go Back</a>
                                            <div id="pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="errors hidden">
                    <div class="alert alert-warning hidden" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        Make sure the columns are there and labeled correctly
                    </div>
                    <div class="alert alert-warning hidden" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        Make sure the trees are parsed correctly (pre-load and check)
                    </div>
                    <div class="alert alert-warning hidden" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        Make sure a tree exists (might not need to be 'is child of', but can parse
                        the human coding scheme)
                    </div>
                    <div class="alert alert-warning hidden" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        Make sure each row can be loaded as an item and association
                    </div>
                </div>
                <br>
                <div class="missing-fields"></div>
                <div class="file-loading hidden">
                    <div class="row">
                        <div class="col-md-12"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    <input type="hidden" id="lsDocId" value="{{ lsDocId }}">
</div>
