{% extends 'base.html.twig' %}

{% block bodyclasses %}{{ parent() }}{% endblock %}
{% block body %}
    <h1>Competency Frameworks
        {% if is_granted('create', 'lsdoc') %}
            <ul class="list-inline pull-right">
                <li>
                    <a class="btn btn-default" href="{{ path('lsdoc_new') }}">Create a new Framework</a>
                </li>
                <li>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#wizard">Import framework</button>
                </li>
            </ul>
        {% endif %}
    </h1>

    <div id="competencyTree">
        {% set lastCreator = '' %}
        <ul id="comptencyTreeData" style="display:none;">
            {% for framework in lsDocs %}
                {% if framework.creator != lastCreator %}
                    {% if not loop.first %}</ul></li>{% endif %}
                        <li class="folder">{{ framework.creator }}<ul>
                                {% set lastCreator = framework.creator %}
                    {% endif %}
                    <li class="salt-framework-link"><a href="{{ path('doc_tree_view', { 'slug': framework.slug }) }}">{{ framework.title }}</a></li>
                    {% if loop.last == true and framework.creator != '' %}
                        </ul></li>
                    {% endif %}
                {% endfor %}
                </ul>
    </div>

    {% include 'CftfBundle:LsDoc:wizard.html.twig' %}
{% endblock %}

{% block javascripts %}
<script>
    $('#competencyTree').fancytree({
        activate: function(event, data){
            var node = data.node;
            if (!$.isEmptyObject(node.data)) {
                if (undefined !== node.data.href)
                    window.location.href = node.data.href;
            }
        },
        dblclick: function(event, data) {
            // ignore double clicks
            return false;
        },
        click: function(event, data) {
            if (data.node.isFolder() && data.targetType !== 'expander') {
                data.node.toggleExpanded();
            }
        }
    });
</script>
{% endblock %}
