{% extends base_template %}

{% block body %}
    <h1>LsAssociation list</h1>

    <table class="table table-condensed table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Uri</th>
                <th>Originnodeuri</th>
                <th>Destinationnodeuri</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lsAssociation in lsAssociations %}
            <tr>
                <td><a href="{{ path('lsassociation_show', { 'id': lsAssociation.id }) }}">{{ lsAssociation.id }}</a></td>
                <td>{{ lsAssociation.uri }}</td>
                <td>{{ lsAssociation.originNodeUri }}</td>
                <td>{{ lsAssociation.destinationNodeUri }}</td>
                <td>{{ lsAssociation.type }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lsassociation_show', { 'id': lsAssociation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('lsassociation_edit', { 'id': lsAssociation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a class="btn btn-default" href="{{ path('lsassociation_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
