{% set criteria = [] %}
{% if criterion.itemType.title|default(null) starts with 'Credential - ' %}
    {% set associations = associationRepo.findAllAssociationsForAsSplitArray(criterion.identifier).inverseAssociations %}
    {% for association in associations %}
        {% if association.type == 'Precedes' %}
            {% set criteria = criteria|merge([itemRepo.findOneByIdentifier(association.originNodeIdentifier)])%}
        {% endif %}
    {% endfor %}
{% endif %}
<li>
        <span class="cred-cb"><input id="credential-{{ criterion.identifier }}" type="checkbox" {% if criterion.identifier in checked %}checked="checked"{% endif %}/></span>
        {%  if criterion.humanCodingScheme is not empty %}<strong class="cred-hcs">{{ criterion.humanCodingScheme }}</strong> {% endif %}
        <label for="credential-{{ criterion.identifier }}"><span class="cred-desc">{{ criterion.abbreviatedStatement|default(criterion.fullStatement) }}</span></label>
        {% if criteria|length > 0 %}
            {% set conditions = criterion.notes|default('')|u.replaceMatches('/.*__START_CRITERIA_RULES__(.*)__END_CRITERIA_RULES__.*/s', '$1')|json_decode %}
            {% if conditions.requires is not defined or conditions.requires is not numeric or conditions.of is not iterable or conditions.requires == conditions.of|length %}{% set conditions = null %}{% endif %}
            {% if conditions.requires is defined %}
                <ul>
                    <li><strong>Requires {{ conditions.requires }} of:</strong>
                        <ul>
                            {% for c in criteria %}
                                {{ include('credential/_criterion.html.twig', {criterion: c}) }}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            {% else %}
                <ul>
                    {% for c in criteria %}
                        {{ include('credential/_criterion.html.twig', {criterion: c}) }}
                    {% endfor %}
                </ul>
            {% endif %}
    {% endif %}
</li>
