{% extends 'layout.html.twig' %}

{% block body %}
    <p class="clearfix">
        {% set objectTypes = {
            'LsDoc': 'CFDocument',
            'LsItem': 'CFItem',
            'LsAssociation': 'CFAssociation',
            'CfRubric': 'CFRubric',
            'CfRubricCriterion': 'CFRubricCriterion',
            'CfRubricCriterionLevel': 'CFRubricCriterionLevel',
            'LsDefAssociationGrouping': 'CFAssociationGrouping',
            'LsDefItemType': 'CFItemType',
            'LsDefConcept': 'CFConcept',
            'LsDefLicence': 'CFLicense',
            'LsDefSubject': 'CFSubject',
        } %}
        {% if objectTypes[class] is defined %}
            {% set objectType = objectTypes[class] %}
        {% else %}
            {% set objectType = 'Resource' %}
        {% endif %}
        {% if isPackage %}
            <strong>CFPackage</strong> found for the following CFDocument:
        {% else %}
           <strong>{{ objectType }}</strong> found:
        {% endif %}
        {% if objectType == 'CFDocument' %}
            {% if is_granted('view', obj) %}
                <a class="btn btn-default pull-right" href="{{ path('doc_tree_view', {'slug': obj.slug}) }}">Show in tree view</a>
            {% endif %}
        {% elseif objectType == 'CFItem' %}
            {% if is_granted('view', obj.lsDoc) %}
                <a class="btn btn-default pull-right" href="{{ path('doc_tree_item_view', {'id': obj.id}) }}">Show in tree view</a>
            {% endif %}
        {% elseif objectType == 'CFAssociation' %}
            {% if is_granted('view', obj.lsDoc) %}
                {% if obj.originLsItem.id is defined and obj.originLsItem.lsDoc == obj.lsDoc %}
                    <a class="btn btn-default pull-right" href="{{ path('doc_tree_item_view', {'id': obj.origin.id}) }}">Show in tree view</a>
                {% elseif obj.originLsDoc.id is defined and obj.originLsDoc == obj.lsDoc %}
                    <a class="btn btn-default pull-right" href="{{ path('doc_tree_view', {'slug': obj.origin.slug}) }}">Show in tree view</a>
                {% endif %}
            {% endif %}
        {% endif %}
    </p>

    {{ include('uri/_table.html.twig', {data: serialized, parent: 'top'}) }}

{% endblock %}

{% block title %}
    {% if obj.humanCodingScheme is defined %}{{ obj.humanCodingScheme }}
    {% elseif obj.shortStatement is defined %}{{ obj.shortStatement }}
    {% elseif obj.title is defined %}{{ obj.title }}
    {% elseif obj.name is defined %}{{ obj.name }}
    {% else %}Resource
    {% endif %}
{% endblock %}

