{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create new account</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.org) }}
        <div class="signup_new_org" style="display: none">
            {{ form_row(form.newOrg) }}
        </div>
        <ul class="list-inline pull-right">
            <li>
                <input class="btn btn-primary" type="submit" value="Add" />
            </li>
        </ul>
    {{ form_end(form) }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var $org = $('#signup_org');
        $org.change(function() {
            if ($org.val() === 'other') {
                $('.signup_new_org').show();
                $('#signup_newOrg').attr('required', true);
            } else {
                $('.signup_new_org').hide();
                $('#signup_newOrg').attr('required', false);
            }
        });
    </script>

{% endblock %}

